@font-face {
    font-family: 'pirata_oneregular';
    src: url('pirataone-regular-webfont.woff2') format('woff2'),
         url('pirataone-regular-webfont.woff') format('woff');

}


body {background-color: #1F1F23;
      width: auto;
      height: 50%;}


h1 {font-family: "pirata_oneregular";
    color: floralwhite;text-align: center; 
    font-size: 300px;
    }

h2 {font-family: "pirata_oneregular";
    color: floralwhite;text-align: center; 
    font-size: 20px;
    }

.slidein {animation-duration: 1.5s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }

  to {
    margin-left:0%;
    width:100%;
  }
}

#back { position: relative;
        text-align: center;
}


.button {background-color: floralwhite;
    width: 10%; 
    height: auto;
}


a, a:active, a:visited {
    display: block;
    width: 10%;
    font-family: "pirata_oneregular";
    color: #18181B ;
    text-decoration: none;
    border: none;
    background-color: floralwhite;
}


a:hover {
    color: crimson;
}